body {
  background-color: #ffffff;
}
body {
  display: flex;
  flex-direction: column;
  color: #181c32;
}
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 13px !important;
  font-weight: 400;
  font-family: Poppins, Helvetica, "sans-serif";
}
.flex-root {
  flex: 1;
}
.flex-column {
  flex-direction: column !important;
}
.d-flex {
  display: flex !important;
}
.flex-column-fluid {
  flex: 1 0 auto;
}
.flex-row {
  flex-direction: row !important;
}
.d-flex {
  display: flex !important;
}
