.why-us {
  background: rgb(255, 255, 255);
  padding: 0;
}
.why-us .content {
  padding: 60px 100px 0 100px;
}
.why-us .content h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 54px;
  line-height: 64px;
  letter-spacing: -3px;
}
.why-us .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}
.why-us .content p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #747474;
}
.why-us .bton {
  background-color: #000000;
  border: none;
  color: #fff;
  border-radius: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  width: 270px;
  height: 82px;
}
.why-us .bton:hover {
  background-color: #fdcb6e;
}
.why-us .video-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 658px;
  position: relative;
}
